a[href^="g"]{
    border: 3px solid blue;
}
a[href$="6"]{
    border: 3px solid pink;
}
a[name*="y" i]{
    color: yellowgreen;
    font-size: larger;
}
/* We have to directly give class name no use of element */
[class|="test"]{
    font-style: italic;
    border: 2px solid black;
}
/* ~ sign will ignore white spaces, ^ suffix value,starting with h, [] for attribute selector, > for selecting child elements */
div ul li a[href^="h"][href$="5"][target~="_parent"]{
    border: 3px solid dodgerblue;
}