*{
    background-color: #111;
    margin: 0;
    padding: 0;
    text-align: center;
    color: #fff;
}

p{
    border: 2px solid dodgerblue;
}

.default{
    border: 2px solid mediumaquamarine;
}

#benq{
    border: 2px solid lightsalmon;
}
/* Overrides all css rules, forces the current rule. */
.new{
    border: 2px solid rgb(81, 255, 211) !important;
}